.liveSearchWrap {
  position: relative;
  width: 260px;
}

.liveInput {
  width: 99%;
  height: 38px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 7px;
  padding: 0 12px;
  color: white;
  font-size: 14px;
  outline: none;
  transition: 0.25s ease;
}

.liveInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.searchDropdown {
  position: absolute;
  top: 45px;
  width: 92%;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-height: 260px;
  overflow-y: auto;
  animation: fadeIn 0.2s ease;
}


.searchDropdown::-webkit-scrollbar {
  display: none;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 12px;

  /* padding: 8px; */
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s ease;
}

.searchItem:hover {
  background: rgba(255, 255, 255, 0.15);
}

.searchItem img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
}

.searchItem span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.noResults {
  text-align: center;
  color: #bbb;
  padding: 10px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to   { opacity: 1; transform: translateY(0); }
}

@media (max-width: 900px) {
   .liveSearchWrap {
  position: relative;
  width: 260px;
   bottom: 500px;
  left: 40px;
}
 
.noResults,
.searchDropdown{
  z-index: 66;
}
}