.dashboard-container {
    margin-left:192px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.tabs {
  margin-bottom: 20px;
}

.tab {
  padding: 10px 16px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}

.tab:hover {
  background: #f2f2f2;
}

.tab.active {
  background: #e0e0e0;
  font-weight: bold;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  background: #fafafa;
}
