
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 156px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(12px);
  z-index: 2000;
}

.logo {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #3aa3ff;
}

.logo span {
  color: white;
}


.sidebar-nav ul {
  padding: 0;
  margin-top: 30px;
}

.sidebar-nav li {
  list-style: none;
  margin-bottom: 12px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-link i {
  font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  transform: translateX(4px);
}


.auth-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.login-btn,
.register-btn {
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.login-btn {
  background: #fff;
  color: black;
}

.login-btn:hover {
  opacity: 0.85;
}

.register-btn:hover {
  background: #fff;
  color: black;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: 600;
}

.logout-btn {
  padding: 8px 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.3);
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}

.logout-btn:hover {
  background: #fff;
  color: black;
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 26px;
  background: transparent;
  color: white;
  border: none;
  z-index: 3000;
  cursor: pointer;
}


@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .auth-actions {
    position: relative;
 bottom: 120px;
}

.sidebar-nav{
  position: relative;
  bottom: 60px;
}

.sidebar-header{
  position: relative;
  top: 40px;
}
}

/* .main-content {
  margin-left: 156px;
}

@media (max-width: 750px) {
  .main-content {
    margin-left: 0;
  }
} */


